@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap");
/* font-family: 'Source Sans Pro', sans-serif; */
* {
  box-sizing: border-box;
}
body {
  text-align: center;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #404040;
  font-size: 1rem;
}

/******* global display **************/

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.blur,
.register,
.register_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/****** Global Typo ********/
.small {
  font-size: 0.625rem;
}

.blur_title {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.3125rem;
}

.bold {
  font-weight: 900;
}

.blur_slogan,
.blur_subtitle,
.register_subtitle,
.register_button {
  text-transform: uppercase;
  color: #f18119;
}

/*********** blur part  *********/
.blur {
  width: 100%;
  min-height: 40vh;
  background-image: url(../images/dark-ribs.jpg);
  /* background-image: url(../images/ribs.jpg);
  background-color: rgb(105, 103, 103, 0.8);
  background-blend-mode: darken; */
  background-size: cover;
  color: white;
}
.blur_slogan {
  margin: 0 auto;
  border-top: 5px solid currentColor;
  margin-bottom: auto;
  letter-spacing: 2px;
  border-image: linear-gradient(to left, #ff713c, #ffa61e);
  border-image-slice: 1;
}

.blur_title {
  margin: 0 auto;
  width: 55%;
}

.blur_subtitle {
  margin: 0 auto;

  margin-bottom: 2em;
  margin-top: auto;
}

/************ register part ************/

.register {
  margin: 0 auto;
  background-color: #fff;
  min-height: 60vh;
}

.register_title {
  margin: 0 auto;
}

.register_subtitle {
  margin: 0 auto;
}

.register_paragraph {
  line-height: 1.6;
  margin-top: 1.5em;
  max-width: 90%;
}

.register_form {
  margin-top: 0.5em;
  display: flex;
  width: 60%;
  align-items: stretch;
}

.register_form input,
.register_form button {
  text-align: center;
  margin: 0.5em;
  border-radius: 0.5em;
}

.register_form input,
.register_form button {
  font-family: "Source Sans Pro", sans-serif;
}

.register_form input {
  padding: 0.5rem 0;
  border: solid 1px #404040;
  color: #404040;
}

.register_button {
  font-weight: 900;
  letter-spacing: 1px;
  padding: 0.6rem;
  border: none;
  transition: 350ms;

  background: linear-gradient(to left, #ff713c, #ffa61e);

  color: #fff;
  cursor: pointer;
}

.register_button:hover,
.register_button:focus {
  background: #404040;
}

.register_button,
.register_form input {
  transform: scale(1);
  transition: transform 350ms;
}

.register_form input:focus,
.register_button:hover,
.register_button:focus {
  transform: scale(1.1);
}

.register_legal {
  letter-spacing: 1px;
  width: 40%;
}

/******** media queries **********/

@media (min-width: 700px) {
  body {
    font-size: 1.125rem;
  }
  .container {
    flex-direction: row;
  }

  h1,
  .blur_title {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  .blur,
  .register {
    height: 100vh;
  }

  /*****blur*****/

  .blur {
    margin: 0;
    width: 53vw;
  }

  .blur_subtitle {
    margin-bottom: auto;
    margin-top: 0;
  }

  /****register****/

  .register {
    width: 47vh;
  }
  .register_title,
  .register_paragraph {
    max-width: 95%;
  }

  .register_form {
    width: 65%;
  }
  .register_legal {
    width: 55%;
  }
}

@media (max-width: 500px) or (max-heigth: 660px) {
  .register_paragraph {
    line-height: 1;
  }
  .register_form,
  .register_form input {
    margin: 0.3em 0;
  }

  .register_form button {
    margin: 0;
    margin-top: 0.2em;
  }

  .register_legal {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }
}

@media (max-height: 600px) {
  body {
    font-size: 0.85rem;
  }

  .register_title {
    margin-top: 0.5em;
  }

  .register_paragraph {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  .blur_title {
    width: 100%;
  }

  .blur_subtitle {
    margin-bottom: 0.5em;
  }
  .register_legal {
    margin-top: 0;
  }
}

@media (max-width: 980px) and (min-width: 701px) {
  .blur_title {
    width: 95%;
  }
}
